# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
venv/
.venv/
env/

# Logs
logs/
*.log

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Distribution
build/
dist/
